* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url("../images/banner/banner2.png");
    padding: 160px 230px;
    text-align: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 65px;
}

.header p {
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-primary {
    color: white;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

.my-failure {
    display: flex;
    margin: 150px 180px;
    align-items: center;
}

.failure-detail {
    padding-left: 70px;
}

.failure-detail .title {
    font-weight: 700;
    font-size: 40px;
}

.failure-detail .subtitle {
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-description {
    display: flex;
}

.failure-description p {
    padding-left: 10px;
    padding-bottom: 10px;
}

.my-plan {
    margin: 160px 200px;
    text-align: center;
}

.my-plan .title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;

}

.plan-topic {
    display: flex;
}

.plan-description {
    margin: 0 auto;
}

.plan-description h3 {
    font-weight: 700;
    font-size: 26px;
}

.plan-description p {
    margin-top: 16px;
    color: #737272;
    font-weight: 500;
    font-size: 22px;
}

.option {
    height: 250px;
    background-image: url("../images/watch.png");
    background-color: linear-gradient(90deg, red, yellow);
    margin: 160px 210px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    background-position: left, right;

}

.option-section {
    /* height: 250px; */

}

.option-setion h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin: 60px 450px 24px 64px;
}

.btn-second {
    color: red;
    background: white;
    border-radius: 5px;
    padding: 16px 26px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-left: 65px;
}

.footer-section {
    display: flex;
    padding: 100px 200px;
    background: #151414;
    color: white;
}

.btn-third {
    color: red;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 16px 26px;
    font-size: 20px;
    font-weight: 600;
    border: 0;

}

.footer-section .title {
    font-weight: 700;
    font-size: 45px;
}

.footer-section .subtitle {
    margin-top: 16px;
    margin-bottom: 24px;
    padding-right: 180px;
}

.footer-section .phone {
    margin-top: 16px;
    margin-bottom: 32px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
}

.subscribe input{
    width: 300px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 16px 20px;
    color: wheat;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 16px;
}

.footer-section a{
    margin-right: 20px;
}